.checkout-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f8f8f8;

  .checkout-left,
  .checkout-right {
    background: white;
    padding: 20px;
    border-radius: 10px;
  }

  .checkout-left {
    width: 60%;
    .delivery-address {
      & > *:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  .checkout-right {
    width: 35%;
    & > * {
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;
    }
    &__title {
      text-align: center;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 8px;

    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .input-group {
    display: flex;
    gap: 10px;
  }

  .shipping-options,
  .payment-method {
    margin-top: 20px;
  }
  .payment-method {
    border: 1px solid #ddd;

    &__container {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 20px;
      cursor: pointer;
      &__checkbox {
        color: #fa7d0b;
      }
    }
  }
  label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
  }

  .description-warning {
    background: #f1f4f7;
    padding: 10px;
    font-size: 14px;
    border-left: 3px solid orange;
    margin-top: 5px;
    text-align: center;
  }

  .order-items {
    .order-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      margin-top: 10px;
      & > * {
        width: calc(100% / 3);
      }
      &__img {
        border-radius: 4px;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      span {
        font-size: 12px;
        color: gray;
      }
    }
  }

  .coupon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 15px;
    .meraki-Btn {
      width: 30%;
    }
    input {
      width: calc(100% - 30%);
    }

    button {
      background: blue;
      color: white;
      padding: 8px;
      border: none;
      cursor: pointer;
    }
  }

  .order-total {
    margin-top: 15px;

    p {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }
  }

  .checkout-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checkout-btn {
    width: 50%;
    padding: 10px;
    background: #ff7a00;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    button {
      color: #fff;
    }
  }
  .shipping-options-tickbox {
    margin: 10px 0;
    background-color: #f1f4f7;
    border-radius: 8px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__name {
      width: 200px;
    }
  }
}
.ant-dropdown .ant-dropdown-menu {
  background-color: #f1f4f7;
}
// .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
// .ant-dropdown-menu-submenu .ant-dropdown-menu ,
// .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
// .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
//   background-color: red;
// }
