.input-fodoshi,
.input-fodoshi:active,
.input-fodoshi:valid {
  background-color: var(--bg-color, transparent) !important;
  border-radius: var(--border-radius) !important;
}
.input-fodoshi {
  width: var(--width, 100%);
  height: var(--height);
  border-color: var(--border-color) !important;
  padding: var(--padding, 4px 11px) !important;
  opacity: var(--opacity, 1);
}
