.input-fodoshi,
.input-fodoshi:active,
.input-fodoshi:valid {
  background-color: var(--bg-color, transparent) !important;
  border-radius: var(--border-radius) !important;
}
.input-fodoshi {
  width: var(--width, 100%);
  height: var(--height);
  border-color: var(--border-color) !important;
}
