.homepage__brands {
  padding: 0 20px;
  &__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fa7d0b;
    font-size: 25px;
    font-weight: 800;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
      img {
        color: #f5f5f5;
        width: 100px;
        opacity: 0.8;
      }
    }
  }
}
